#header {
  transition: transform 0.5s ease-in-out;
  display: inline-block;
}

#header:hover {
  transform: scale(1.1);
  text-shadow: 2px 2px 2px #0000002a;
}

h1#title {
  text-transform: uppercase;
  background: linear-gradient(to top, #128fbb 0%, #18ef86 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: xx-large;
  margin: 0px 0px;
}

h2 {
  margin: 0px 3px;
  font-weight: 400;
  background-image: linear-gradient(45deg, #045e9f, #028635);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 2px 2px 5px #0000002a;
}

section {
  position: relative;
  margin: 1px;
}

.subtitle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  font-style: normal;
  font-size: small;
}

h2.subheading {
  position: relative;
}

h2.subheading:before,
h2.subheading:after {
  content: '[';
  display: inline-block;
  position: relative;
  top: 1px;
  height: 100%;
  font-size: 1.25em;
  color: #028635;
  transition: all 0.5s ease-in-out;
}

h2.subheading:before {
  color: #045e9f
}

h2.subheading:after {
  content: ']';
}

h2.subheading:hover:before {
  transform: translateX(-5px);
}

h2.subheading:hover:after {
  transform: translateX(5px);
}

h3 {
  background-image: linear-gradient(45deg, #045e9f, #028635);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 1px 1px 2px #0000002a;
  margin: 8px;
  font-size: 1.4rem;
}

h4 {
  margin: 0.3rem 0px 0.5rem 0px;
}

a {
  color: #007bff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease, color 0.3s ease;
}

a:hover {
  color: #0056b3;
  border-bottom: 2px solid #0056b3;
}

img#about {
  width: 100px;
  height: 100px;
  margin: 10px 10px 0;
  background-color: white;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid #7fa1b9;
  box-shadow: 0px 0px 15px -3px #000;
}

@media only screen and (max-width: 600px) {
  h1#title {
    margin-bottom: 10px;
    font-size: x-large;
    float: left;
    position: relative;
    top: 2rem;
  }

  img#about {
    width: 64px;
    height: 64px;
    margin-right: 10px;
    float: left;
  }

  #header {
    align-items: center;
    transform: translateX(-2vw);
  }

  section {
    position: relative;
    margin: 5px;
  }

  h2.subheading {
    font-size: small;
  }

  a:hover {
    border-bottom-width: 1px;
  }
}