.projects {
  padding: 1rem;
  text-align: center;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.project-card {
  background: #d9d9d963;
  border: 1px solid #acacac;
  border-radius: 8px;
  padding: 0.5rem;
  width: 250px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease;
}

.project-card:hover {
  background-color: #e9f5ff;
}


.project-card h3 {
  margin-top: 0;
}

.project-card a {
  color: #000000e8;
  text-decoration: none;
}

.project-card a:hover {
  color: #007bff;
}


.project-card p {
  margin: 0 auto;
  font-size: smaller;
}

.badge {
  display: inline-block;
  padding: 2px 5px;
  margin-right: 4px;
  border-radius: 6px;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #f3f4f6;
  cursor: default;
}

.stars {
  background-color: #fff7d5;
  color: #a13f03;
}

.forks {
  background-color: #dbeafe;
  color: #02727e;
}

.stars:hover {
  background-color: #fae89a;
  color: #9c3b00;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.forks:hover {
  background-color: #73dde9;
  color: #001b67;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.repo-stats {
  margin-top: 5px;
}

@media only screen and (max-width: 600px) {
  .projects {
    padding: 0;
  }

  .project-list {
    gap: 0.5rem;
    margin-bottom: 3rem;
  }

  .project-card h3 {
    font-size: small;
  }

}