.work-history {
    margin: 1.5em auto 0.5em;
    box-shadow: 0 0 15px #0000001f;
    border-radius: 8px;
    background-color: #f4f4f41a;
    padding: 0.5rem 1rem;
    max-width: 635px;
}

.company-logo {
    vertical-align: middle;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
    margin-right: 0.75rem;
    margin-left: 0.5rem;
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.company-logo:hover {
    width: 70px;
    height: 70px;
}

.bigger_logo {
    width: 100px !important;
    height: 100px !important;
}

.cert-logo {
    scale: 0.8;
}

.work-history ul {
    margin-top: 5px;
    padding: 0;
    list-style: none;
}

.work-history li.job-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
    padding: 0.25rem 1rem;
    width: 100%;
    max-width: 600px;
}

.work-history li.job-item:hover {
    box-shadow: 0px 3px 5px #4e2fff61;
    border-style: solid;
    border-image: linear-gradient(to right, #8bffeaeb, #7eb9faed) 1;
    background-color: #e9f5ff;
}

.work-history-header {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin: 10px 0px;
}

.expanded {
    background-color: #e9f5ff !important;
}

.work-history-header h3 {
    grid-column: 2;
    margin: 0;
    text-align: center;
}

.work-history-header button {
    grid-column: 3;
    justify-self: end;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0px 20px 0px 20px;
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.work-history-header button:hover {
    text-decoration: underline;
    text-shadow: 0px 0px 1px #000000bf;
}

.job-list {
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

.job-item {
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9a1;
    padding: 10px;
}

.job-summary {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.job-summary div {
    opacity: 1;
}

.job-summary div.hide {
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, height 0.3s ease, opacity 0.5s ease 0.3s;
    width: 0;
    height: 0;
}

.job-item:hover {
    background-color: #f9f9f9d5;
}

.job-details {
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.3s ease, height 0.3s ease;
    width: 0px;
    height: 0px;
    max-height: 0;
    overflow: hidden;
    text-align: left;
}

.job-details.show {
    visibility: visible;
    opacity: 1;
    transition: max-height 0.3s ease, height 0.3s ease;
    cursor: text;
    margin: 5px 0px 5px -10px;
    width: auto;
    height: auto;
    max-height: 300px;
    text-align: left;
}

.job-details p {
    margin: 3px;
}

.certifications {
    display: inline-grid;
    cursor: default;
    margin: .75rem auto 0;
    box-shadow: 0 0 15px #0000001f;
    border-radius: 8px;
    background-color: #f4f4f41a;
    padding: 0.5rem 2rem;
    max-width: 635px;
    text-align: center;
}

.certification-list {
    display: inline-block;
    margin-top: 5px;
    padding: 0;
    width: 600px;
    list-style: none;
    text-align: left;
}

.certification-item {
    display: flex;
    align-items: center;
    cursor: default;
    margin-bottom: 5px;
    box-shadow: 0 1px 2px #00000038;
    padding: 10px;
}

.cert-info {
    display: flex;
    flex-direction: column;
}

.cert-info a {
    color: #2c3e50;
    font-weight: bold;
    font-size: 0.95rem;
}

.cert-info a:hover {
    color: #007bff;
}

.issuer {
    color: #171717;
    font-style: italic;
    font-size: 0.9rem;
}

.awards ul {
    padding-left: 1.5rem;
    list-style-type: disc;
}

.awards li {
    cursor: context-menu;
    margin-bottom: 0.25rem;
}


@media only screen and (max-width: 768px) {
    .work-history {
        margin: 5% 3% 0% 3%;
        padding: 0.5rem 1rem;
    }

    .work-history-header {
        margin-bottom: 10px;
    }

    .work-history-header h3 {
        padding-right: 20px;
    }

    .work-history li.job-item {
        gap: 0px;
        padding: .1rem 0.1rem;
        font-size: small;
        text-align: left;
    }

    .work-history-header button {
        padding: 0px;
        padding-left: 4px;
        text-shadow: 0 0 1px #000000bf;
    }

    .company-logo {
        padding-right: 2px;
        padding-left: 2px;
        width: 35px;
        height: 35px;
    }

    .company-logo:hover {
        width: 35px;
        height: 35px;
    }

    .bigger_logo {
        width: 50px !important;
        height: 50px !important;
    }

    .certifications {
        margin: 5% 3% 0% 3%;
        padding: 0.5rem;
    }

    .cert-info a {
        font-size: 0.8em;
    }

    .issuer {
        font-size: .8rem;
    }

    .job-summary {
        gap: 2px;
    }

    .certification-list {
        margin: 0 2%;
        width: 95%;
    }

    .job-details.show {
        margin: 5px 3px 5px -5px;
    }
}