.work-history {
    padding: 0.5rem;
    background-color: #f4f4f477;
    border-radius: 8px;
    margin: 1rem auto;
    margin-bottom: 0px;
    max-width: 600px;
}

.company-logo {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin-right: 0.75rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.work-history h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.work-history ul {
    list-style: none;
    padding: 0;
}

.work-history li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 1rem;
    margin: 0.5rem 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.work-history li:hover {
    background-color: #e9f5ff;
}


.job-item {
    cursor: pointer;
    margin-bottom: 1em;
    padding: 10px;
    border: 1px solid #cccccc9e;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.job-item:hover {
    background-color: #f9f9f9d5;
}

.job-details {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 0.95em;
    color: #333;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .work-history {
        padding: 0.5rem 1rem;
        margin: 0;
    }

    .work-history li {
        gap: 0px;
        padding: .1rem 0.1rem;
        text-align: left;
        font-size: small;
    }

    .company-logo {
        height: 40px;
        width: 40px;
    }
}