.work-history {
    padding: 0.5rem;
    background-color: #f4f4f477;
    border-radius: 8px;
    margin: 0.75rem auto;
    margin-bottom: 0px;
    max-width: 635px;
}

.company-logo {
    width: 64px;
    height: 64px;
    object-fit: contain;
    margin-right: 0.75rem;
    margin-left: 0.5rem;
    vertical-align: middle;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.company-logo:hover {
    width: 70px;
    height: 70px;
}

.bigger_logo {
    width: 100px !important;
    height: 100px !important;
}

.work-history ul {
    list-style: none;
    padding: 0;
}

.work-history li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 1rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100%;
    max-width: 600px;
}

.work-history li:hover {
    background-color: #e9f5ff;
}


.job-list {
    list-style: none;
    padding: 0;
}

.job-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #f9f9f9;
    border-radius: 5px;
    position: relative;
}

.job-summary {
    opacity: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.job-summary div {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.job-summary div.hide {
    opacity: 0;
    display: none;
}

.job-item:hover {
    background-color: #f9f9f9d5;
}


.job-details {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: none;
    text-align: left;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.job-details.show {
    max-height: 200px;
    opacity: 1;
    display: block;
    margin: 5px 0px;
}

.job-details p {
    margin: 3px;
}

@media only screen and (max-width: 600px) {
    .work-history {
        padding: 0.5rem 1rem;
        margin: 0;
    }

    .work-history li {
        gap: 0px;
        padding: .1rem 0.1rem;
        text-align: left;
        font-size: small;
    }

    .company-logo {
        height: 40px;
        width: 40px;
    }

    .company-logo:hover {
        width: 40px;
        height: 40px;
    }

    .bigger_logo {
        height: 50px !important;
        width: 50px !important;
    }
}