body {
    margin: 0;
    background-color: #465b6b;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: background-position 0.05s ease-out;
    background-image: url('./components/images/background.png');
    background-position: center var(--background-offset, 0px);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    content: "";
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


.glass-container {
    backdrop-filter: blur(1px);
    background: none;
    -webkit-backdrop-filter: blur(1px);
    border: 0;
    padding: 0;
}


@media only screen and (max-width: 768px) {

    .glass-container {
        backdrop-filter: blur(0.5px);
        -webkit-backdrop-filter: blur(0.5px);
    }


}