name: Build App

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * 0"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "18"

      - name: Cache node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: |
          npm ci
          npm install -g htmlhint eslint@8
          npm install --save-dev stylelint stylelint-config-standard

      - name: Update caniuse database
        run: npx update-browserslist-db@latest --yes

      - name: Build the React app
        run: npm run build

      # Validate source files
      - name: Lint Source HTML
        run: |
          html_files=$(find ./public -name "*.html" | grep -v "lite.html")
          htmlhint --config config/.htmlhintrc $html_files

      - name: Lint Source CSS
        run: npx stylelint "src/**/*.css" --config config/.stylelintrc.json

      - name: Lint Source JS
        run: eslint -c config/.eslintrc.js "src/**/*.js" --ignore-pattern config/.eslintrc.js

      # Validate build output
      - name: Validate Broken Links
        uses: lycheeverse/lychee-action@v2
        with:
          workingDirectory: ./build
          args: --base-url https://navchandar.github.io --verbose --no-progress "./**/*.html" --exclude "(.*\/static\/.*)"

      - name: Validate Spelling
        uses: rojopolis/spellcheck-github-actions@0.54.0
        with:
          config_path: config/.spellcheck.yml
          task_name: HTML
          source_files: ./build/**/*.html

      - name: Deploy to gh-pages branch
        if: github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: ./build
          publish_branch: gh-pages
          user_name: github-actions[bot]
          user_email: github-actions[bot]@users.noreply.github.com
